<div class="d-flex justify-content-center p-4">
  <a href="/user/logout" class="btn btn-primary"><h4
      class="text-dark"
    >Logout</h4><svg
      xmlns="http://www.w3.org/2000/svg"
      height="1em"
      viewBox="0 0 512 512"
    ><path
        d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"
      /></svg></a>
</div>

<div id="conteinerCart" class="d-flex justify-content-center p-4">
  <a href="/products" class="btn btn-lg btn-outline-primary">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="1em"
      viewBox="0 0 512 512"
    ><path
        d="M40 48C26.7 48 16 58.7 16 72v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V72c0-13.3-10.7-24-24-24H40zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM16 232v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V232c0-13.3-10.7-24-24-24H40c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V392c0-13.3-10.7-24-24-24H40z"
      /></svg>
  </a>
</div>
{{#if cart.products}}
  {{#each cart.products}}
    <div class="conteiner-fluid d-flex flex-column align-items-center">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{_id.0.title}}</h5>
          <p class="card-text">{{_id.0.description}}</p>
          <p class="card-text">Talle: {{_id.0.size}}</p>
          <h6 class="card-text">${{_id.0.price}}</h6>
          <div class="d-flex justify-content-center align-items-center">
            <button
              type="button"
              class="btn btn-outline-dark mx-2"
              onclick="deleteProduct('{{_id.0._id}}')"
            >-</button>
            <h3 class="mb-2">Cantidad {{quantity}}</h3>
            <button
              class="btn btn-outline-dark mx-2"
              onclick="addProduct('{{_id.0._id}}')"
            >+</button>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
{{else}}
  <div class="text-center mt-4"><h1>No hay productos en tu carrito</h1></div>
{{/if}}

{{! <script src="/socket.io/socket.io.js"></script> }}
<script src="/js/cart.js"></script>